body {
  box-sizing: border-box;
  background-color: #30313a;
  font-family: 'Alegreya Sans', sans-serif;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pointer {
  cursor: pointer;
}
.active {
  color: #9adb4d;
}
.sprite {
    background-image: url('../images/sprite-icon.png');
    background-repeat: no-repeat;
    display: block;
    height: 26px;
    margin-top: 3px;
}
.btn {
  height: 30px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
}

header {
  height: 55px;
  flex-direction: row;
  margin-bottom: 20px;
  background: #4f5462;
  .header-left {
    .window-btn__list {
      margin: auto 20px;
      .close{
        background-color: #f75e51;
      }
      .restore{
        background-color: #fbbe00;
      }
      .minimize{
        background-color: #42ca35;
      }
    }
    .window-btn__item {
      display: inline-block;
      margin-right: 7px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
    }
    .load-photo {
      color: #000;
      background-color: #9adb4d;
    }
    .load-photo:hover{
      background-color: #42ca35;
    }
  }
  .header-center {
    width: 55%;
    .fit {
      font-size: 22px;
    }
    .persent {
      margin-left: 20px;
      color: #9ea1a9;
      font-size: 22px;
    }
  }
  .header-right {
    margin-right: 20px;
    .sprite-transport {
      margin-right: 15px;
    }
    .facebook {
      width: 30px;
      height: 30px;
      margin-right: 15px;
      background: url('../images/facebook.png') no-repeat;
      background-size: contain;
    }
    .export {
      color: #9ea1a9;
      background-color: #5f6472;
    }
    .export:hover{
      background-color: #7d818b;
    }
  }

  .sprite-cut {
      width: 22px;
      height: 20px;
      margin-left: 60px;
      background-position: -87px -3px;
  }
  .sprite-cut.active {
      width: 22px;
      height: 20px;
      margin-left: 60px;
      background-position: -115px -3px;
  }
  .sprite-facebook {
      width: 27px;
      height: 30px;
      margin-right: 20px;
      background-position: -143px -3px;
  }
  .sprite-facebook:hover {
      width: 27px;
      height: 30px;
      margin-right: 20px;
      background-position: -176px -3px;
  }
  .sprite-preview {
      width: 25px;
      margin-left: 20px;
      background-position: -209px -3px;
  }
  .sprite-preview.active {
      width: 25px;
      margin-left: 20px;
      background-position: -240px -3px;
  }
  .sprite-see {
      width: 27px;
      margin-top: 8px;
      background-position: -271px -3px;
  }
  .sprite-see.active {
      width: 27px;
      margin-top: 8px;
      background-position: -304px -3px;
  }
  .sprite-upload {
      width: 15px;
      margin-right: 20px;
      background-position: -337px -3px;
  }
  .sprite-upload:hover,
  .sprite-upload:focus {
      width: 15px;
      margin-right: 20px;
      background-position: -358px -3px;
  }
} //end header

.container-preview {
  position: relative;
  width: 100%;
  max-width: 890px;
  margin: 0 auto;
  height: 450px;
  margin-top: 20px;
  .resize-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
  }
  .handle {
    position: absolute;
    height: 104%;
    width: 4px;
    background-color: #9adb4d;
    left: 50%;
    top: -2%;
  }
  .handle:before,
  .handle:after {
    content: "Before";
    position: relative;
    top: 10px;
    color: #ccc;
    font-size: 22px;
    text-transform: uppercase;
    float: right;
    margin-right: 10px;
    z-index: 10;
  }
  .handle::after {
    content: "After";
    float: left;
    margin-left: 10px;
    top: -12px;
    z-index: 9;
  }
  .before-img, .after-img {
    background-image: url(../images/01.jpg);
    background-repeat:  no-repeat;
    background-size: cover;
    height: 100%;
  }
  .after-img {filter: brightness(130%) contrast(130%);}
}

.sketch {
  width: 100%;
  height: 55px;
  margin-top: 20px;
  background: #434651;
  .dropdown {
    position: relative;
    float: left;
    width: 60px;
    height: 100%;
    border-right: 2px solid #7d818b;
    &:hover{
      cursor: pointer;
    }
    .sprite-arrive-down {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -5px -10px;
      width: 19px;
      height: 11px;
      background-position: -3px -3px;
      z-index: 3;
    }
    .nav {
      display: none;
      position: absolute;
      top: 33px;
      left: -19px;
      width: 130px;
      z-index: 2;
      &__item {
        display: block;
        color: #7d818b;
        :hover {
          background-color: #7d818b;
          color: #000;
          cursor: pointer;
        }
        &:not(:first-child){
          border-top: 2px solid #7d818b;
        }
      }
      &__link {
        display: block;
        font-size: 18px;
        padding: 0 20px;
        line-height: 47px;
      }
    }
  }
  .range-box {
    justify-content: center;
    margin-right: 62px;
    line-height: 55px;
    p{
      font-size: 22px;
      padding: 0 15px;
      color: #878b94;
    }
    .range {
      width: 300px;
      height: 5px;
      background: #000;
    }
  }
  .apply {
    margin-right: -100px;
    margin-left: 45px;
    color: #878b94;
    background: #545865;
  }
  .apply:hover {
    color: #000;
    background: #7d818b;
  }
}

.slider-images {
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
  .carousel-hider {
      width: 1199px;
      overflow: hidden;
      float: left;
  }
  .carousel-list {
      list-style: none;
      width: 10000px;
      padding: 0;
      position: relative;
  }
  .carousel-element {
      display: block;
      margin-right: 25px;
      float: left;
      border: 3px solid transparent;
  }
  .carousel-element .to-preview {
      max-width: 275px;
      max-height: 138px;
      overflow: hidden;
      cursor: pointer;
  }
  .carousel-arrive-left, .carousel-arrive-right {
      float: left;
      display: block;
      margin: 15px;
      width: 15px;
      height: 50px;
      background: url('../images/sprite-icon.png') no-repeat;
      background-size: cover;
      padding: 5px;
      margin-top: 50px;
  }
  .carousel-arrive-left {
      background-position: -50px -3px;
  }
  .carousel-arrive-right {
      background-position: -80px -3px;
  }
  .carousel-arrow-left:hover, .carousel-arrow-right:hover {
      cursor: pointer;
  }
  .carousel-arrow-left {
      margin-right: 25px;
  }
  .carousel-arrow-right {
      margin-left: 25px;
  }

}
